name = "workout"
main = "@tanstack/react-start/server-entry"
compatibility_date = "2025-09-02"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "workout-dev-db"
database_id = "{{ D1_DB_ID }}"
remote = false

[observability]
enabled = true

[env.dev]
name = "workout-dev"

  [env.dev.vars]
  ENVIRONMENT = "dev"
  SESSION_JWT_SECRET = ""
  WORKOS_CLIENT_ID = ""
  WORKOS_API_KEY = ""

[env.staging]
name = "workout-staging"

  [env.staging.vars]
  ENVIRONMENT = "staging"
  SESSION_JWT_SECRET = ""
  WORKOS_CLIENT_ID = ""
  WORKOS_API_KEY = ""

  [[env.staging.routes]]
  pattern = "staging.fit.stevenduong.com/*"
  zone_name = "fit.stevenduong.com"

    [[env.staging.d1_databases]]
    binding = "DB"
    database_name = "workout-staging-db"
    database_id = "{{ D1_DB_ID }}"

[env.production]
name = "workout-prod"

  [env.production.vars]
  ENVIRONMENT = "production"
  SESSION_JWT_SECRET = ""
  WORKOS_CLIENT_ID = ""
  WORKOS_API_KEY = ""

  [[env.production.routes]]
  pattern = "fit.stevenduong.com/*"
  zone_name = "fit.stevenduong.com"

    [[env.production.d1_databases]]
    binding = "DB"
    database_name = "workout-prod-db"
    database_id = "{{ D1_DB_ID }}"
